.dots-background {
    position: absolute;
    inset: 0;
    background-color: #111827;
    z-index: 0;
}

@keyframes float {
    0% { transform: translate(0, 0); }
    100% { transform: translate(var(--rand-x, 50px), var(--rand-y, 50px)); }
}

.dot {
    position: absolute;
    background-color: #6366f1;
    border-radius: 9999px;
    opacity: 0.1;
    filter: blur(1px);
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
